@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.main-font {
		font-family: 'Righteous', cursive;
	}

	.no-drag {
		-webkit-app-region: no-drag;
	}
}

::-webkit-scrollbar {
	display: none;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: #888;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}

#main {
	clip-path: polygon(100% 0, 100% 88%, 0 100%, 0 7%);
}
